html {
  box-sizing: border-box;
  font-family: "PT Serif", serif;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  background-color: #c9b5ab;
}

h1 {
  font-family: "PT Sans", sans-serif;
  font-size: 1.5rem;
  color: #3f1622;
}

nav ol {
  color: #8f2440;
  font-family: "PT Sans", sans-serif;
  font-size: 1.125rem;
  list-style-type: none;
}

a {
  text-decoration: none;
}

a:link {
  color: #8f2440;
  text-decoration: none;
}

a:hover {
  color: #3f1622;
  text-decoration: underline;
}

img {
  width: 85vw;
}

figcaption {
  font-family: "PT Serif", serif;
  font-size: 1rem;
  text-align: center;
  font-style: italic;
  font-weight: lighter;
}

figure b {
  font-weight: lighter;
}

.intro {
  font-family: "PT Serif", serif;
  font-size: 1.125rem;
  font-weight: bold;
  padding-left: .5em;
}

strong {
  font-weight: normal;
}

main p {
  font-family: "PT Serif", serif;
  font-size: 1rem;
  padding-left: .5em;
}

blockquote p {
  font-family: "PT Serif", serif;
  font-size: 1.5rem;
  font-style: italic;
  font-weight: normal;
}

h2 {
  font-family: "PT Sans", sans-serif;
  font-size: 1.5rem;
  color: #3f1622;
  font-weight: normal;
  padding-left: .5em;
}

main ol {
  list-style-type: lower-greek;
}

aside ul {
  list-style-type: circle;
}

aside ul li {
  font-size: .8rem;
}

dl {
  padding-left: .5em;
}

dt {
  font-weight: bold;
  font-size: 1rem;
}

footer {
  font-size: .8rem;
}
