html {
  box-sizing: border-box;
  font-family: "PT Serif", serif;
  font-size: .8rem;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img {
  width: 100%;
}

figcaption {
  font-style: italic;
  font-size: .8rem;
  font-family: "PT Serif", serif;
  text-align: center;
}

header {
  background-color: #c9b5ab;
  max-width: 80em;
  margin: 0 auto;
  display: block;
  padding: 1em;
}

ol {
  list-style-type: none;
  text-decoration: none;
}

nav a {
  color: #8f2440;
}

nav a:link {
  text-decoration: none;
  color: #8f2440;
}

nav ol li {
  font-family: "PT Sans", sans-serif;
  color: #3f1622;
}

nav a:hover {
  color: #3f1622;
}

h2 {
  color: #3f1622;
}

h1 {
  font-family: "PT Sans", sans-serif;
  color: #3f1622;
  font-size: 1.5rem;
}

strong {
  font-weight: normal;
}

blockquote p {
  font-style: italic;
  font-family: "PT Serif", serif;
  font-size: 1.5rem;
}

footer a:link {
  color: #8f2440;
  text-decoration: none;
}

footer {
  font-family: "PT Serif", serif;
  font-size: .8rem;
  max-width: 100em;
  margin: 0 auto;
  display: block;
  background-color: #c9b5ab;
  padding: 1em;
}

footer a {
  color: #8f2440;
}

footer a:hover {
  text-decoration: underline;
}

aside {
  font-family: "PT Serif", serif;
  font-size: .8rem;
  max-width: 100em;
  margin: 0 auto;
  display: block;
  background-color: #c9b5ab;
  padding: 1em;
}

.intro {

  font-family: "PT Serif", serif;
  font-size: 1.125rem;
}

.main-content {
  max-width: 80em;
  margin: 0 auto;
  display: block;
  background-color: #c9b5ab;
  padding: 1em;
}
